body,
html {
  overflow-x: hidden;
  font-family: "SF Pro Display";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
  &:focus {
    outline: none;
    border: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

header,
footer {
  height: 100px;
  background: #000;
}

main {
  @include flex;
  @include dir-col;
  @include justify-between;
  min-height: 100vh;
}

.product-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  flex-grow: 1;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }
  a {
    position: relative;
    z-index: 0;
    @include flex;
    @include dir-col;
    padding: 50px;
    overflow: hidden;
    @media (max-width: 1500px) {
      padding: 40px;
    }
    @media (max-height: 1000px) {
      padding: 40px;
    }
    @media (max-width: 767px) {
      padding: 30px 20px;
    }
    &:hover {
      &:after {
        background: rgba(#03151b, 0.8);
      }
      .number {
        &:after {
          width: 60px;
        }
      }
      b {
        color: #00b4a9;
      }
      .bg {
        transform: scale(1.1);
      }
    }
    &:after {
      content: "";
      background: rgba(#03151b, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      transition: 0.3s;
    }
    .bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: 0.3s;
      @include flex;
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .number {
      margin-bottom: auto;
      font-size: 44px;
      color: #00b4a9;
      font-weight: bold;
      @include inline-flex;
      @include align-center;
      @media (max-width: 1500px) {
        font-size: 40px;
      }
      @media (max-width: 767px) {
        font-size: 30px;
      }
      &:after {
        content: "";
        width: 40px;
        height: 1px;
        background: #00b4a9;
        display: inline-block;
        margin-left: 15px;
        transition: 0.3s;
      }
    }
    .text {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      color: white;
      text-align: center;
      max-width: 550px;
      width: 100%;
      margin: 0 auto;
      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 26px;
      }
    }
    b {
      color: #fff;
      text-align: center;
      font-size: 40px;
      font-style: italic;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 30px;
      padding-bottom: 30px;
      position: relative;
      margin-top: 20px;
      transition: 0.3s;
      @media (max-width: 1500px) {
        font-size: 30px;
      }
      @media (max-height: 1000px) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        font-size: 32px;
      }
      @media (max-width: 767px) {
        font-size: 28px;
      }
      &:after {
        content: "";
        width: 120px;
        height: 1px;
        background: #00b4a9;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -60px;
      }
    }
  }
}
